::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8888882f; 


}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f13a; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999999; 

}

html *
{
    font-family: "Roboto", sans-serif;
    
    overflow: hidden;

}

html
{
    margin: 0px;
    height: 100%;
    width: 100%;
}

body
{ 
    background: url("../screenshots/MoreBlobs2.gif");
    background-size: 300%;
    
    margin: 0px;
    min-height: 100%;

    box-shadow: inset 0 0 100px #000;
}

.page-content
{
    position:absolute;
    right:0;
    top:50%;
    transform: translate(0,-50%);

    height: 100dvh;
    


 
    /* font-weight: 600; */
    /* text-shadow:
    0.0037em 0 rgb(255, 255, 255,150),
    0 0.0037em rgb(255, 255, 255,150),
    -0.0037em 0 rgb(126, 126, 126,150),
    0 -0.0037em rgb(39, 39, 39,150); */

    display:flex;
    align-items: center;

    pointer-events: none;
    /* box-shadow: -5px 5px 5px rgba(12, 12, 12, 63%);  */
}




.content-panel{
    /* background-color: rgba(255, 255, 255, 35%); */

    background: linear-gradient(#73737375, #3333330a);
    background-size: auto 150%;
    background-position: 0 100%;



    max-width: 600px;
    max-height: 88dvh;
    /* min-height: 80%; */
    overflow-y: auto;
    backdrop-filter: grayscale(36%) brightness(50%) blur(16px);
    
    border-radius: 8px 0px 0px 8px;
    box-shadow: -5px 5px 5px rgba(12, 12, 12, 63%); 

    pointer-events: all;

    
}



.content-wrapper
{
    padding:0px 20px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color:#FFFFFFFF;
    text-shadow: 0 1px 1px rgba(0,0,0, 1)
}

.site-header
{
    padding:8px;
}

.site-title
{
    font-size: 1.3rem;
    color:#FFFFFFFF;
    letter-spacing: 0.5px;
    float:left;
    text-decoration: none;
  
    font-weight: 600;
    text-shadow:
    0.07em 0 #000000,
    0 0.07em #000000,
    -0.07em 0 #000000,
    0 -0.07em #3b3b3b2e;
}

.embed-container
{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;

}

.hidden
{
    display:none;
    visibility: hidden;
}

button {
    position: relative;
    font-size: 12px;
    border:     none;
    outline:    none;
    background:   #FFF;
    border-radius: 3px;
    border: 1px solid #1F1F1F;
    box-shadow: 0 1px 3px 0px rgba(#0F0F0F, .5),
      inset 0 1px rgba(#FFF, .2); 

    margin:8px;

    pointer-events: all;
  }

.buttonDark {
    background: linear-gradient(#73737375, #3333330a);
    background-size: auto 150%;
    background-position: 0 100%;
    backdrop-filter: grayscale(36%) brightness(50%) blur(16px);


    &:hover {
        background-position: 0 50%;
        cursor: pointer;
    }

    &:active {
        color: #75757523;
        background-position: 0 50%;
        background: #33333344;
        box-shadow: inset 0 2px 3px rgba(0,0,0, .5), 0 1px 1px rgba(255,255,255, .1);
        
        .icon:before {
            color: #7a7a7a;
            text-shadow: 0 1px rgba(255,255,255, .1);
        }
    }
}
    



.icon:before {
    font-style: normal;
    font-size: 28px;
    display: block;
    
    color: #DDD;
    text-shadow: 0 1px 1px rgba(0,0,0, 1);
    content: attr(data-char);
}

.buttonCircle
{
    border-radius: 100%;
    height: 4em;
    width:  4em;
    box-shadow: -5px 5px 5px rgba(12, 12, 12, 63%); 
}

.navigation-wrapper{
    position:absolute;
    bottom:0;
    width: 100%;
    height:200px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.329) 50%, rgba(0,0,0,0) 100%);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    color:#FFFFFFDD;
    text-shadow: 0 1px 1px rgba(0,0,0, 1); 
    
}

.post-title{
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 0 0;
}

.post-subtitle{
    font-size: 1.1rem;
    margin: 0 0 0 0;
}

.navigation-button{
    color:#FFFFFFaa;
    text-decoration: none;

    &:hover {
        color:#FFFFFFFF;
    }
}

@media (max-width: 1024px){
    ::-webkit-scrollbar {
       
        border-radius: 0 8px 8px 0;
    }
    
    .page-content
    {
        right:50%;
        top:50%;
        transform: translate(50%,-50%);
        width:90%;

        flex-direction: column-reverse;
    }

    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #8888882f; 
        border-radius: 0 8px 8px 0;
        
        
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #f1f1f13a; 
        border-radius: 0 8px 8px 0;
        
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #999999; 
        border-radius: 0 8px 8px 0;
        
    }
    .content-panel{
        border-radius: 8px;
    
    }
};

