---
layout: default
---
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

<style>
    .page-content {
        overflow: auto;
        position: relative;
    }

    .page-content::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 100px;
        z-index: -1;

        display: block;

        background-image: url("assets/screenshots/MoreBlobs2.gif");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(10px) brightness(0.3);
        width: 100%;
        height: 100%;
    }

    .wrapper
    {
        max-width: none;
    }

    .site-header {
        background-color: #181818;
    }

    .site-footer {
        background-color: #181818;
    }

    .main-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .title-text {
        font-weight: 700;
        font-size: 4rem;
        text-align: center;
    }

    body {
        font-family: Lato;
        color: #dddddd;
    }

    .interesting-stuff {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding-top: 28px;
    }

    .content {
        width: 100%;
    }

    .blog {
        border-left: 1px solid #cccccc;
    }

    .post-list > li
    {
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 4px;
    }

    .outer_container{
        height: 500px;
        display:flex;
        flex-direction: row;
    }

    .bio_container{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .socials_card{
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bio_words{
        flex-grow: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .socials_container{
        width: 80%;
        height: 85%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .social-icon{
        width: 40px;
        height: 40px;
        margin:4px;
    }

    .icon-scale{
        transform:scale(2);
    }

    .social_list_item
    {
        display: inline;
        margin: 0;
    }

    .social-media-list2
    {
        margin:0;
    }

    .grey{
        color:#dddddd;
        filter:drop-shadow(0.5px, 0.5px, 1px, black)

    }

    .home{
        text-shadow: 1px 1px black;
    }

</style>

<div class="home">
    <div class="outer_container">
        <div class="bio_container">
            <div class="socials_card"  >
                <div class="socials_container">
                    <h2>Kristian Dixon</h3>
                    <h4>Software Engineer</h4>

                    {%- include social.html -%}
                </div>
            </div>

            <!--
            <div class="bio_words" >
                <h3> Biography </h3>
                <p> Currently working as a Senior Mixed Reality Developer at VISR Dynamics </p>
                <h4> Education </h4>
                <p> Distinction level MSc in Computer Science for Games Development </p>
                <small>University of Hull - 2018 to 2020</small>
                <p> First class honours BSc in Computer Science with Games Development</p>
                <small>University of Hull - 2014 to 2017</small>
            </div>
            -->
        </div>
    </div>
</div>



<!--
    Fetching all posts
     <div class="interesting-stuff d-none">
            {% assign posts = site.posts %}

            <div class="portfolio content">
                <h3> University Portfolio </h3>

                <div class="jekyll-auto-populate">
                    {%- if posts.size > 0 -%}
                        <ul class="post-list">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {%- for post in posts limit:3 -%}
                                {%- if post.categories contains "jekyll" -%}
                                    <li>
                                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                                        <h3>
                                            <a class="post-link" href="{{ post.url | relative_url }}">
                                                {{ post.title | escape }}
                                            </a>
                                        </h3>
                                    </li>
                                {%- endif -%}

                            {%- endfor -%}
                        </ul>

                    {%- endif -%}
                </div>

            </div>

            <div class="blog content">
                <h3> Recent Blog Posts</h3>

                <div class="jekyll-auto-populate">
                    {%- if posts.size > 0 -%}
                        <ul class="post-list">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {%- for post in posts -%}
                                {%- if post.categories contains "update" -%}
                                    <li>
                                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                                        <h3>
                                            <a class="post-link" href="{{ post.url | relative_url }}">
                                                {{ post.title | escape }}
                                            </a>
                                        </h3>
                                        {%- if site.show_excerpts -%}
                                        {{ post.excerpt }}
                                        {%- endif -%}
                                    </li>
                                {%- endif -%}

                            {%- endfor -%}
                        </ul>

                        <a href="">More posts</a>
                    {%- endif -%}
                </div>

            </div>
        </div>
-->