<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{page.title}} - Kris makes stuff</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/portfolio-rethink.css">
    <script type="text/javascript" src="/assets/scripts/portfolio/main.js" defer></script>
  </head>

  <body>
    <header class="site-header">
      <a class="site-title" rel="author" href="/">Kris makes stuff</a>
    </header>


    <div class="site-container">
      <div id="interactive_demo_container" class="interactive_demo_container">
        {%- if page.engine contains "model-viewer" -%}
          {% assign modelpath = page.modelpath %}
          {% include modelViewer.html id=page.modelpath %}
        {%- endif -%}

        {%- if page.engine contains "threejs-viewer" -%}
          {% assign modelpath = page.modelpath %}
          {% include threejsViewer.html demo=page.demo %}
        {%- endif -%}

        <div id="page_title" class="page_title">
          <div class="navigation-wrapper" id="navigation-wrapper">
            <div class="post-title-container">
              <p class="post-title">{{ page.title }}</p>
              <p class="post-subtitle">{{ page.subtitle }}</p>
              <!-- <div class="post-title-container">
                <button class="buttonCircle buttonDark tooltip" onclick="window.location.href='/test';">
                  <i class="icon" data-char="<"></i> 
                  <span class="tooltiptext">Previous Post</span>
                </button>
      
                <button class="buttonCircle buttonDark tooltip" id="show_post_btn">
                  <i class="icon" data-char="?"></i> 
                  <span class="tooltiptext">Open Post Info</span>
                </button>
      
                <button class="buttonCircle buttonDark tooltip" onclick="window.location.href='/test';">
                  <i class="icon" data-char=">"></i> 
                  <span class="tooltiptext">Next Post</span>
                </button>
      
               
      
              </div> -->
              
            </div>
          </div>
        </div>

      </div>

      <div id="portfolio_post_container" class="portfolio_post_container">

        <main class="page-content" aria-label="Content" id="page-content">

          <div class="top_page_wrapper">
            <button class="top_page_btn page_btn active">
              <img src="./assets/icons/sticky_note_2.svg">
            </button>
            <button class="top_page_btn page_btn" id="display_post_list">
              <img src="./assets/icons/list.svg">
            </button>
            <button class="top_page_btn page_btn" id="display_settings">
              <img src="./assets/icons/settings.svg">
            </button>
          </div>    
              
          <div class="content-panel" id="content-panel">
            <div class="content-wrapper" id="post_content_container">
              {{ content }}
            </div>

            <div>
              
            </div>
          </div>
    
          <div class="bottom_page_wrapper" id="page_btn_container">
            {%- if page.pagecount > 1 -%} 
              {% assign pagecount = page.pagecount | plus: -1%}
              {% for counter in (0..pagecount)%}
                <button class="post-controls page_btn bottom_page_btn" data-page-index={{counter}}>
                  <span>{{counter | plus: 1}}</span>
                </button>    
              {% endfor %}
            {%- endif -%}
          </div>

        </main>

      </div>
    </div>

  </body>

</html>