<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} - Kris makes stuff</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/portfolio.css">
    <script type="text/javascript" src="/assets/scripts/portfolio/main.js" defer></script>
  </head>

  <body>
    {%- if page.engine contains "gltf-viewer" -%}
      {% assign modelpath = page.modelpath %}
      {% include modelViewer.html id=page.modelpath %}
    {%- endif -%}

    <header class="site-header">
      <a class="site-title" rel="author" href="/">Kris makes stuff</a>
    </header>

    <div class="navigation-wrapper" id="navigation-wrapper">
      <div class="post-title-container">
        <p class="post-title">Chunky Kong</p>
        <p class="post-subtitle">Kong grueso</p>
        <div class="post-title-container">
          <button class="buttonCircle buttonDark tooltip" onclick="window.location.href='/test';">
            <i class="icon" data-char="<"></i> 
            <span class="tooltiptext">Previous Post</span>
          </button>

          <button class="buttonCircle buttonDark tooltip" id="show_post_btn">
            <i class="icon" data-char="?"></i> 
            <span class="tooltiptext">Open Post Info</span>
          </button>

          <button class="buttonCircle buttonDark tooltip" onclick="window.location.href='/test';">
            <i class="icon" data-char=">"></i> 
            <span class="tooltiptext">Next Post</span>
          </button>
        </div>
        
      </div>
    </div>

    <main class="page-content post-hidden" aria-label="Content" id="page-content">
      

      <div id="post-controls-container" class="post-controls-container">
        <button class="buttonCircle buttonDark post-controls post-controls-hidden" id="hide-post-btn">
          <i class="icon" data-char="X"></i>
        </button>     
      </div>
      

      <div class="content-panel" id="content-panel">
        <div class="content-wrapper">
          {{ content }}
        </div>
      </div>

    </main>

    


  </body>

</html>