<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} - Kris makes stuff</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/portfolio.css">
  </head>

  <body>
    {%- if page.engine contains "gltf-viewer" -%}
      {% assign modelpath = page.modelpath %}
      {% include modelViewer.html id=page.modelpath %}
    {%- endif -%}

    <header class="site-header">
      <a class="site-title" rel="author" href="/">Kris makes stuff</a>
    </header>

    <main class="page-content" aria-label="Content">
      <button class="buttonCircle buttonDark" id="show_post_btn" onclick=
        "
          document.getElementById('show_post_btn').classList.add('hidden');
          document.getElementById('hide_post_btn').classList.remove('hidden');
          document.getElementById('content-panel').classList.remove('hidden');
          document.getElementById('navigation-wrapper').classList.add('hidden');
          //document.getElementById('demo').innerHTML = Date()
        ">
        <i class="icon" data-char="?"></i>
      </button>
      <button class="buttonCircle buttonDark hidden" id="hide_post_btn" onclick=
      "
        document.getElementById('show_post_btn').classList.remove('hidden');
        document.getElementById('hide_post_btn').classList.add('hidden');
        document.getElementById('content-panel').classList.add('hidden');
        document.getElementById('navigation-wrapper').classList.remove('hidden');
        //document.getElementById('demo').innerHTML = Date()
      ">
        <i class="icon" data-char="X"></i>
      </button>

      <div class="content-panel hidden" id="content-panel">
        <div class="content-wrapper">
          {{ content }}
        </div>
      </div>

    </main>

    <div class="navigation-wrapper" id="navigation-wrapper">
      <a href="/test" class="navigation-button">Previous Post</a>
      <div class="post-title-container">
        <p class="post-title">Chunky Kong</p>
        <p class="post-subtitle">Kong grueso</p>
      </div>
      <a href="/test" class="navigation-button">Next Post</a>
    </div>


  </body>

</html>